#main {
  max-width: 100%;
  min-height: 100%;
  /* background-color: rgb(147, 205, 243); */
}
.parcer {
  /* background-color: rgb(216, 250, 216); */
  /* border-radius: 2em; */
  text-align: center;
  width: 700px;
  height: 300px;
  margin: auto;
}
#preview {
  background-color: rgb(216, 250, 216);
  padding: 30px;
  margin: 20px;
  text-align: left;
}
pre {
  background-color: white;
}

table,
thead,
tbody,
th,
td {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}
